@tailwind base;
@tailwind components;
@tailwind utilities;

.circle{
    width: 100px;
    border: 2px solid;
    height: 100px;
    border-radius: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.headerclass{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 60px;
}
.circle:first-child{
   background-color: rgb(201, 167, 16);
}
.circle:nth-child(2){
    background-color: rgb(231, 46, 46);
}
.circle:nth-child(3){
    background-color: rgb(95, 209, 230);
}

.Circle_parent{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.maindiv{
    background-color: #e4e9e9a9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    margin: 20px;
    padding: 4%;
}
body{
    background-color:  #e4e9e9a9;
    color: #20303c;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.Child1{
    width: 31%;
    margin: 32px;

}
a{
    text-decoration: none;
    color: black;
    font-size:larger;

}